<div class="home-ref-container">
  <div class="home-ref-img">
    <img src="{{ asset('images/ref/ref-1.jpg')}}" alt="">
    <img src="{{ asset('images/ref/ref-2.jpg')}}" alt="">
    <img src="{{ asset('images/ref/ref-3.jpg')}}" alt="">
    <div id="hidden-images" class="hidden-images">
      <img src="{{ asset('images/ref/ref-4.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-5.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-6.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-7.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-8.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-9.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-10.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-11.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-12.jpg')}}" alt="">
      <img src="{{ asset('images/ref/ref-13.jpg')}}" alt="">
    </div>
    <button id="showMoreButton" class="show-more-button">Afficher plus</button>
  </div>
</div>
