  <div class="side-menu" id="sideMenu">
  <div class="sidemenu-nav">
                        <div class="sm-nav-content">
                            <a href="{{ path('app_presta')}}" class="sm-nav-bar">Prestations</a>
                            <a href="{{ path('app_gallerie')}}" class="sm-nav-bar">Galerie</a>
                            <a href="{{ path('app_references')}}" class="sm-nav-bar">Références</a>
                            <a href="{{ path('app_contact')}}" class="sm-nav-bar">Contact</a>
                        </div>
                        <div class="sm-nav-btn">
                        <i class="fa-regular fa-paper-plane"></i>
                        <a href="{{ path('app_devis') }}"><span class="sm-nav-btn-devis">Devis</span></a>
                        </div>
                            <div class="sm-tel-mail">
                    <div class="sm-tel">
                        <i class="fa-solid fa-phone fa"></i>
                        <span>07 83 89 46 76</span>
                    </div>
                    <div class="sm-mail">
                        <i class="fa-solid fa-envelope fa"></i>
                        <span>thomas.lasne@gmail.com</span>
                    </div>
                </div>
                    </div>
  </div>