<h2 class="home-title-1">Jongleur</h2>
<h1 class="home-title-2">Une jonglerie dynamique et visuelle</h1>

{{ include('components/_homemain.html.twig') }}

<section class="home-section-2">
<h2 class="home-title-1">Prestations</h2>
{# {{ include('components/_homeprestacards.html.twig') }} #}
{{ include('components/_homeprestaslider.html.twig') }}
</section>
<h2 class="home-title-1">Références</h2>
{{ include('components/_homereferences.html.twig') }}
<h2 class="home-title-1">Contact</h2>
{{ include('components/_homecontact.html.twig') }}